# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Database
*.sqlite3

# Testing
.pytest_cache/

# Node
node_modules/

# Coverage
.coverage
htmlcov/